@import "scss/normalize";

@import "scss/flexiblegs";
@import "bower_components/flexiblegs-scss/flexiblegs-scss";
@import "bower_components/flexiblegs-scss-plus/flexiblegs-scss-plus";

@import "scss/flexiblecss";
@import "bower_components/flexiblecss-scss/flexiblecss-scss";

::-moz-selection {
  color: #FFFFFF;
  background: #F72848;
}
::selection {
  color: #FFFFFF;
  background: #F72848;
}
